git config --local core.hooksPath .githooks

use flake "git+file://$PWD?dir=nix"

export INFOVIEW_DIST="$PWD/vendor/vscode-lean4/lean4-infoview/dist"
test -d "$INFOVIEW_DIST" || export INFOVIEW_DIST="$(nix build ./nix#@leanprover/infoview --no-link --print-out-paths)"
